# Django Configuration
DJANGO_SECRET_KEY=django-insecure-!%fkpy1py&6(wfg9!575zqk(3z5rad!n)_l#=n(o4al=2pv#ax
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,yourdomain.com

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
